{% macro show_links() %}

<div class="child child3">
    <ul class="nav nav-tabs nav-fill" style="background-color:darkblue">

        <li class="nav-item">
            <a class="nav-link" style="color:whitesmoke;" href="{{url_for('login')}}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:whitesmoke;" href="{{url_for('register')}}">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:whitesmoke;" href="{{url_for('logout')}}">Logout</a>
        </li>
    </ul>
</div>


{% endmacro %}


{% macro showsocialmedialinks () %}
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" style="color:darkblue" href="#">Instagram</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:darkblue" href="https://www.linkedin.com/in/omar-el-attar-b76661290/">Linkedin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:darkblue" href="#">facebook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color:darkblue" href="#">whatsapp</a>
    </li>
</ul>

{% endmacro %}